<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!--引入CSS-->
    <link rel="stylesheet" type="text/css" href="/css/webuploader.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse navbar navbar-inverse">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">返回主页</a></li>
                <li><a th:href="@{/user/getAllMessage(index=1,material_upload_college=${#session.getAttribute('college')})}">查看往日消息</a></li>
                <li><a th:href="@{/user/selectMaterialByCollege(material_upload_college=${#session.getAttribute('college')})}">我的文件</a></li>
                <li><a href="/logout">登出</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a th:href="@{/admin/adminIndex}">管理员页面</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<ul class="list-group" th:if="${materials!=null}">
    <li th:each="material:${materials}" class="list-group-item list-group-item-info">
        <h4 th:text="${material.getMaterial_name()}"></h4>
        <span th:text="${material.getMaterial_upload_college()}"></span>
        <span th:text="${material.getMaterial_upload_department()}"></span>
        <span th:text="${material.getUpload_time()}"></span>
        <a th:href="@{/user/deleteMaterialById(material_upload_college=${#session.getAttribute('college')},material_md5_id=${material.getMaterial_md5_id()})}">删除文件</a>
        <a th:href="@{/user/downLoadSelfFile(material_md5_id=${material.getMaterial_md5_id()},material_upload_college=${material.getMaterial_upload_college()})}">下载文件</a>
    </li>
</ul>

</body>
</html>